<section class="section" style="padding-bottom: 10px;padding-top: 10px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
            <h4 class="title mb-4">How it works ?</h4>
            <p class="text-muted para-desc mx-auto mb-0">
              By investing as little as $20 you can become a shareholder in a highly profitable agricultural project.
            </p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->

      <div class="row">
        <div class="col-md-3 mt-2 pt-md-0 pt-2">
          <div class="card features work-process bg-transparent process-arrow border-0 text-center">
            <div class="icons rounded h1 text-center text-primary px-3">
              <i class="uil uil-presentation-edit"></i>
            </div>

            <div class="card-body">
              <h4 class="title text-dark">Choose a project</h4>
              <p class="text-muted mb-0">
                Among our many innovative and profitable projects, choose the one that appeals to you the most.
              </p>
            </div>
          </div>
        </div>
        <!--end col-->

        <div class="col-md-3 mt-md-5 pt-md-2 mt-4 pt-2">
          <div class="card features work-process bg-transparent process-arrow border-0 text-center">
            <div class="icons rounded h1 text-center text-primary px-3">
              <i class="uil uil-airplay"></i>
            </div>

            <div class="card-body">
              <h4 class="title text-dark">Invest in the project</h4>
              <p class="text-muted mb-0">
                Invest in the project to guarantee its start-up
              </p>
            </div>
          </div>
        </div>
        <!--end col-->

        <div class="col-md-3 mt-md-5 pt-md-4 mt-4 pt-2">
            <div class="card features work-process bg-transparent process-arrow border-0 text-center">
                <div class="icons rounded h1 text-center text-primary px-3">
                <i class="uil uil-airplay"></i>
                </div>

                <div class="card-body">
                <h4 class="title text-dark">Control the evolution</h4>
                <p class="text-muted mb-0">
                  With our reporting space, you can follow the progress of your project in real time
                </p>
                </div>
            </div>
        </div>
        <!--end col-->

        <div class="col-md-3 mt-md-5 pt-md-5 mt-4 pt-2">
          <div class="card features work-process bg-transparent d-none-arrow border-0 text-center">
            <div class="icons rounded h1 text-center text-primary px-3">
              <i class="uil uil-image-check"></i>
            </div>

            <div class="card-body">
              <h4 class="title text-dark">Receive income</h4>
              <p class="text-muted mb-0">
                With our smart contracts, your income is automatically transferred to you
              </p>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
