<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title">Privacy Policy</h4>
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Start Privacy -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <p class="text-muted">Go Africa processes the data collected for the creation and personalization of your
              account,
              to allow us to manage your contact, quote, purchase and investment requests.
            </p>

            <p class="text-muted">Data marked by an asterisk
              (<span class="text-danger">*</span>) must be provided in registration.
            </p>

            <p class="text-muted">If you are a project owner, your data will be communicated exclusively to the
              Go Africa's technical partners in charge of the study of the projects. If you are an investor or a
              supplier
              then your data will not be communicated to third party providers..
            </p>

            <p class="text-muted">
              The data collected will be kept for a period of 5 years from the closing of the account
            </p>

            <h5 class="card-title">At any moment you can : </h5>
            <ul class="list-unstyled text-muted">
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                Access your data
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                Edit your personnal informations
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                Delete your data by providing a request
              </li>
              <li>
                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                Exercise your right to limit the processing of your data
              </li>
            </ul>

            <p class="text-muted"> To exercise these rights or for any questions about the processing of your data in
              this system, you can contact our department in charge of exercising these rights at the following address:
              <a href="mailto://contact@goafrica.io" class="text-primary">contact@goafrica.io</a>.</p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End Privacy -->