<div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="section-title">
          <h4 class="title mb-4">Join the Go-Africa digital agripreuneur community</h4>
          <p class="text-muted">
            You have an agropastoral project, submit it to us and benefit from financing. Put together a complete file with the following elements and send it to us.
          </p>
          <ul class="list-unstyled text-muted">
            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uil uil-check-circle"></i></span>Business plan</li>
            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uil uil-check-circle"></i></span>Commercial register</li>
            <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uil uil-check-circle"></i></span>Location map</li>
          </ul>
          <a routerLink="/me/my-projects" [queryParams]="{invest: true}" class="btn btn-primary mt-3">Get started now<i
              class="mdi mdi-chevron-right"></i></a>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-6 col-md-6 order-1 order-md-2">
        <img src="assets/images/collaboration.svg" class="img-fluid" alt="">
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
