<div class="float-right">
    <small *ngIf="likeDataHasLoaded">
        <button type="button" name="" class="btn btn-primary" *ngIf="!likes?.liked || !likes?.id"
            (click)="onReact(likes?.id)">
            <small><i class="fa fa-heart-o" aria-hidden="true"></i></small>
        </button>
        <button type="button" name="" class="btn liked" *ngIf="likes?.liked && likes?.id" (click)="onReact(likes?.id)">
            <small class="h3"><i class="fa fa-heart" aria-hidden="true"></i></small>
        </button>
    </small>
    <small class="pl-2">{{allLikes}}</small>
</div>