<!-- Start -->
<section class="section my-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title">Our partners</h4>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->

      <div class="row justify-content-center">

        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
          <img src="assets/images/go-africa/partners/lolodorf.png" class="avatar avatar-medium" alt="">
        </div>
        <!--end col-->
        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
          <img src="assets/images/go-africa/partners/camer-agri.png" class="avatar avatar-medium" alt="">
        </div>
        <!--end col-->
        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
          <img src="assets/images/go-africa/partners/aquaworld.png" class="avatar avatar-medium" alt="">
        </div>
        <!--end col-->
        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
          <img src="assets/images/go-africa/partners/auryfish.png" class="avatar avatar-medium" alt="">
        </div>
        <!--end col-->
        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
          <img src="assets/images/go-africa/partners/bfc.png" class="avatar avatar-medium" alt="">
        </div>
        <!--end col-->
        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
          <img src="assets/images/go-africa/partners/skretting.png" class="avatar avatar-medium" alt="">
        </div>
        <!--end col-->
        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
          <img src="assets/images/go-africa/partners/chicken.png" class="avatar avatar-medium" alt="">
        </div>
        <!--end col-->
        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
          <img src="assets/images/go-africa/partners/food.png" class="avatar avatar-medium" alt="">
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
  </section>
